<div class="container mt-3">
    <h2>Registrations List</h2>
  
    <button
      class="btn btn-primary mb-3"
      (click)="addNew()"
    >
      Add New
    </button>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>Family Members</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations">
          <td>{{ registration.id }}</td>
          <td>{{ registration.user_name }}</td>
          <td>{{ registration.email_id }}</td>
          <!-- <td>
            <ul>
              <li *ngFor="let member of registration.familyMembers">
                {{ member.name }} ({{ member.m_relation }})
              </li>
            </ul>
          </td> -->
          <td>
            <button
              class="btn btn-warning btn-sm"
              (click)="editRegistration(registration.id)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm ml-2"
              (click)="deleteRegistration(registration.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  