<div class="categories-container">
  <h2>Manage Relations</h2>
  
  <form [formGroup]="relationForm" (ngSubmit)="addRelation()">
    <div class="form-inline">
      <div class="form-group">
        <label for="relation">Relation </label>
        <input class="input-class" id="relation" formControlName="relationValue" placeholder="Enter new relation" />
        <div *ngIf="relationForm.get('relationValue')?.invalid && relationForm.get('relationValue')?.touched">
          Relation is required.
        </div>
      </div>

      <button type="submit" [disabled]="relationForm.invalid">Add Relation</button>
    </div>
  </form>

  <h3>Existing Relations</h3>
  <table>
    <thead>
      <tr>
        <th>Relation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let relation of relations">
        <td>{{ relation }}</td>
        <td>
          <button (click)="deleteRelation(relation)" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
