.container{
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
    min-width: 500px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  h2 {
    color: darkblue;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h4 {
    color: darkblue;
    margin-bottom: 10px;
  }
  
  .subheading {
    color: grey;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    color: grey;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f0ffff; /* Azure background */
  }
  
  h5 {
    color: grey;
    font-size: 12px;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: darkblue;
  }
  