<form [formGroup]="registrationForm" (ngSubmit)="submit()">
  <div class="form-sections">
    <div class="grid-container">
      <h3>User Information</h3>
    
      <div class="grid-item-rate">
        <label 
          for="unique_id" 
          [ngClass]="{
            'invalid-label': registrationForm.get('unique_id')?.touched && registrationForm.get('unique_id')?.invalid
          }"
        >
          Unique ID
        </label>
        <input
          id="unique_id"
          formControlName="unique_id"
          type="number"
          placeholder="Unique ID"
          [readOnly]="isEditMode"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('unique_id')?.touched &&
          registrationForm.get('unique_id')?.invalid
        "
      >
        Unique ID is required
      </h5>
    
      <div class="grid-item-rate">
        <label
          for="user_name"
          [ngClass]="{
            'invalid-label': registrationForm.get('user_name')?.touched && registrationForm.get('user_name')?.invalid
          }"
        >
          User Name
        </label>
        <input
          id="user_name"
          formControlName="user_name"
          type="text"
          placeholder="User Name"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('user_name')?.touched &&
          registrationForm.get('user_name')?.invalid
        "
      >
        User Name is required
      </h5>
    
      <div class="grid-item-rate">
        <label
          for="dob"
          [ngClass]="{
            'invalid-label': registrationForm.get('dob')?.touched && registrationForm.get('dob')?.invalid
          }"
        >
          Date Of Birth
        </label>
        <input id="dob" formControlName="dob" type="date" />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('dob')?.touched &&
          registrationForm.get('dob')?.invalid
        "
      >
        Date of Birth is required
      </h5>
    
      <div class="grid-item-rate">
        <label
          for="joining_date"
          [ngClass]="{
            'invalid-label': registrationForm.get('joining_date')?.touched && registrationForm.get('joining_date')?.invalid
          }"
        >
          Joining Date
        </label>
        <input id="joining_date" formControlName="joining_date" type="date" />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('joining_date')?.touched &&
          registrationForm.get('joining_date')?.invalid
        "
      >
        Joining Date is required
      </h5>
    
      <div class="grid-item-radio">
        <label
          [ngClass]="{
            'invalid-label': registrationForm.get('gender')?.touched && registrationForm.get('gender')?.invalid
          }"
        >
          Gender
        </label>
        <div class="content-radio">
          <div>
            <label for="Male">Male</label>
            <input id="Male" type="radio" formControlName="gender" value="Male" />
          </div>
          <div>
            <label for="Female">Female</label>
            <input
              id="Female"
              type="radio"
              formControlName="gender"
              value="Female"
            />
          </div>
          <div>
            <label for="other">Other</label>
            <input id="other" type="radio" formControlName="gender" value="Other" />
          </div>
        </div>
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('gender')?.touched &&
          registrationForm.get('gender')?.invalid
        "
      >
        Gender is required
      </h5>
    
      <div class="grid-item-rate">
        <label for="photo">Photo URL</label>
        <input
          id="photo"
          formControlName="photo"
          type="text"
          placeholder="Photo URL"
        />
      </div>
    
      <div class="grid-item-rate">
        <label for="leaving_date">Leaving Date</label>
        <input id="leaving_date" formControlName="leaving_date" type="date" />
      </div>
    </div>
    
    

    <!-- Personal Information Section -->

    <div class="grid-container">
      <h3>Personal Information</h3>
    
      <div class="grid-item-rate">
        <label 
          for="father_husband_name"
          [ngClass]="{
            'invalid-label': registrationForm.get('father_husband_name')?.touched && registrationForm.get('father_husband_name')?.invalid
          }"
        >
          Father/Husband Name
        </label>
        <input
          id="father_husband_name"
          formControlName="father_husband_name"
          type="text"
          placeholder="Father/Husband Name"
        />
      </div>
      <h5 class="err"
        *ngIf="
          registrationForm.get('father_husband_name')?.touched &&
          registrationForm.get('father_husband_name')?.invalid
        "
      >
        Father/Husband Name is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="father_husband_relation"
          [ngClass]="{
            'invalid-label': registrationForm.get('father_husband_relation')?.touched && registrationForm.get('father_husband_relation')?.invalid
          }"
        >
          Father/Husband Relation
        </label>
        <select
          id="father_husband_relation"
          formControlName="father_husband_relation"
        >
          <option value="" disabled>Select Relation</option>
          <option value="Father">Father</option>
          <option value="Husband">Husband</option>
          <!-- Add other options if needed -->
        </select>
      </div>
      <h5 class="err"
        *ngIf="
          registrationForm.get('father_husband_relation')?.touched &&
          registrationForm.get('father_husband_relation')?.invalid
        "
      >
        Father/Husband Relation is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="mother_name"
          [ngClass]="{
            'invalid-label': registrationForm.get('mother_name')?.touched && registrationForm.get('mother_name')?.invalid
          }"
        >
          Mother Name
        </label>
        <input
          id="mother_name"
          formControlName="mother_name"
          type="text"
          placeholder="Mother Name"
        />
      </div>
      <h5 class="err"
        *ngIf="
          registrationForm.get('mother_name')?.touched &&
          registrationForm.get('mother_name')?.invalid
        "
      >
        Mother's name is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="phone"
          [ngClass]="{
            'invalid-label': registrationForm.get('phone')?.touched && registrationForm.get('phone')?.invalid
          }"
        >
          Phone No
        </label>
        <input
          id="phone"
          formControlName="phone"
          type="text"
          placeholder="Phone No"
        />
      </div>
      <h5 class="err"
        *ngIf="
          registrationForm.get('phone')?.touched &&
          registrationForm.get('phone')?.invalid
        "
      >
        Phone number is required and must be in a valid format
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="email_id"
          [ngClass]="{
            'invalid-label': registrationForm.get('email_id')?.touched && registrationForm.get('email_id')?.invalid
          }"
        >
          Email Id
        </label>
        <input
          id="email_id"
          formControlName="email_id"
          type="email"
          placeholder="Email Id"
        />
      </div>
      <h5 class="err"
        *ngIf="
          registrationForm.get('email_id')?.touched &&
          registrationForm.get('email_id')?.invalid
        "
      >
        A valid email is required
      </h5>
    </div>
    
    <!-- Additional Information Section -->

    <div class="grid-container">
      <h3>Additional Information</h3>
    
      <div class="grid-item-rate">
        <label 
          for="aadhar_no" 
          [ngClass]="{
            'invalid-label': registrationForm.get('aadhar_no')?.touched && registrationForm.get('aadhar_no')?.invalid
          }"
          >Aadhar No</label
        >
        <input
          id="aadhar_no"
          formControlName="aadhar_no"
          type="text"
          placeholder="Aadhar No"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('aadhar_no')?.touched &&
          registrationForm.get('aadhar_no')?.invalid
        "
      >
        Aadhar Number is required
      </h5>
    
      <div class="grid-item-rate">
        <label
          for="pan_no"
          [ngClass]="{
            'invalid-label': registrationForm.get('pan_no')?.touched && registrationForm.get('pan_no')?.invalid
          }"
          >PAN No</label
        >
        <input
          id="pan_no"
          formControlName="pan_no"
          type="text"
          placeholder="PAN No"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('pan_no')?.touched &&
          registrationForm.get('pan_no')?.invalid
        "
      >
        PAN Number is required
      </h5>
    
      <div class="grid-item-rate">
        <label for="uan">UAN</label>
        <input id="uan" formControlName="uan" type="text" placeholder="UAN" />
      </div>
    
      <div class="grid-item-rate">
        <label for="religion">Religion</label>
        <input
          id="religion"
          formControlName="religion"
          type="text"
          placeholder="Religion"
        />
      </div>
    
      <div class="grid-item-rate">
        <label for="relation">Relation</label>
        <input
          id="relation"
          formControlName="relation"
          type="text"
          placeholder="Relation"
        />
      </div>
    
      <div class="grid-item-rate">
        <label
          for="flats"
          [ngClass]="{
            'invalid-label': registrationForm.get('flats')?.touched && registrationForm.get('flats')?.invalid
          }"
          >Flats</label
        >
        <input
          id="flats"
          formControlName="flats"
          type="number"
          placeholder="Flats"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('flats')?.touched &&
          registrationForm.get('flats')?.invalid
        "
      >
        Flat Number is required
      </h5>
    </div>
    

    <!-- Bank Information Section -->

    <div class="grid-container">
      <h3>Bank Information</h3>
    
      <div class="grid-item-rate">
        <label 
          for="bank_name" 
          [ngClass]="{
            'invalid-label': registrationForm.get('bank_name')?.touched && registrationForm.get('bank_name')?.invalid
          }"
          >Bank Name</label>
        <input
          id="bank_name"
          formControlName="bank_name"
          type="text"
          placeholder="Bank Name"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('bank_name')?.touched &&
          registrationForm.get('bank_name')?.invalid
        "
      >
        Bank Name is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="account_no" 
          [ngClass]="{
            'invalid-label': registrationForm.get('account_no')?.touched && registrationForm.get('account_no')?.invalid
          }"
          >Account No</label>
        <input
          id="account_no"
          formControlName="account_no"
          type="text"
          placeholder="Account No"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('account_no')?.touched &&
          registrationForm.get('account_no')?.invalid
        "
      >
        Account No. is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="ifsc_code" 
          [ngClass]="{
            'invalid-label': registrationForm.get('ifsc_code')?.touched && registrationForm.get('ifsc_code')?.invalid
          }"
          >IFSC Code</label>
        <input
          id="ifsc_code"
          formControlName="ifsc_code"
          type="text"
          placeholder="IFSC Code"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('ifsc_code')?.touched &&
          registrationForm.get('ifsc_code')?.invalid
        "
      >
        IFSC Code is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="bank_address" 
          [ngClass]="{
            'invalid-label': registrationForm.get('bank_address')?.touched && registrationForm.get('bank_address')?.invalid
          }"
          >Bank Address</label>
        <input
          id="bank_address"
          formControlName="bank_address"
          type="text"
          placeholder="Bank Address"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('bank_address')?.touched &&
          registrationForm.get('bank_address')?.invalid
        "
      >
        Bank Address is required
      </h5>
    </div>
    

    <!-- Address Information Section -->

    <div class="grid-container">
      <h3>Address Information</h3>
    
      <div class="grid-item-rate">
        <label 
          for="house_no" 
          [ngClass]="{
            'invalid-label': registrationForm.get('house_no')?.touched && registrationForm.get('house_no')?.invalid
          }"
          >House No</label>
        <input
          id="house_no"
          formControlName="house_no"
          type="text"
          placeholder="House No"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('house_no')?.touched &&
          registrationForm.get('house_no')?.invalid
        "
      >
        House Number is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="street_no" 
          [ngClass]="{
            'invalid-label': registrationForm.get('street_no')?.touched && registrationForm.get('street_no')?.invalid
          }"
          >Street No</label>
        <input
          id="street_no"
          formControlName="street_no"
          type="text"
          placeholder="Street No"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('street_no')?.touched &&
          registrationForm.get('street_no')?.invalid
        "
      >
        Street Number is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="area" 
          [ngClass]="{
            'invalid-label': registrationForm.get('area')?.touched && registrationForm.get('area')?.invalid
          }"
          >Area</label>
        <input
          id="area"
          formControlName="area"
          type="text"
          placeholder="Area"
        />
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('area')?.touched &&
          registrationForm.get('area')?.invalid
        "
      >
        Area is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="city" 
          [ngClass]="{
            'invalid-label': registrationForm.get('city')?.touched && registrationForm.get('city')?.invalid
          }"
          >City</label>
        <select id="city" formControlName="city" placeholder="Select City">
          <option value="" disabled>List Of Cities</option>
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('city')?.touched &&
          registrationForm.get('city')?.invalid
        "
      >
        City is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="state" 
          [ngClass]="{
            'invalid-label': registrationForm.get('state')?.touched && registrationForm.get('state')?.invalid
          }"
          >State</label>
        <select id="state" formControlName="state">
          <option value="" disabled>List Of States</option>
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('state')?.touched &&
          registrationForm.get('state')?.invalid
        "
      >
        State is required
      </h5>
    
      <div class="grid-item-rate">
        <label 
          for="country" 
          [ngClass]="{
            'invalid-label': registrationForm.get('country')?.touched && registrationForm.get('country')?.invalid
          }"
          >Country</label>
        <select id="country" formControlName="country">
          <option value="" disabled>List Of countries</option>
          <option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </option>
        </select>
      </div>
      <h5
        class="err"
        *ngIf="
          registrationForm.get('country')?.touched &&
          registrationForm.get('country')?.invalid
        "
      >
        Country is required
      </h5>
    </div>
    

    <!-- Family Members Section -->

    <div class="grid-container">
      <h3>Family Members</h3>
    
      <div formArrayName="familyMembers">
        <div
          *ngFor="let member of familyMembers.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="grid-item-rate">
            <label for="name">
              <span *ngIf="member.get('name')?.invalid">*</span>
              Name
            </label>
            <input
              id="name"
              formControlName="name"
              type="text"
              placeholder="Name"
            />
            <h5 class="err"
              *ngIf="member.get('name')?.touched && member.get('name')?.invalid"
            >
              Name is required
            </h5>
          </div>
    
          <div class="grid-item-rate">
            <label for="m_relation">
              <span *ngIf="member.get('m_relation')?.invalid">*</span>
              Relation
            </label>
            <select id="m_relation" formControlName="m_relation" placeholder="Select Relation">
              <option value="" disabled>List Of Relations</option>
              <option *ngFor="let relation of relations" [value]="relation">
                {{ relation }}
              </option>
            </select>
            <h5 class="err"
              *ngIf="
                member.get('m_relation')?.touched &&
                member.get('m_relation')?.invalid
              "
            >
              Relation is required
            </h5>
          </div>
    
          <div class="grid-item-rate">
            <label for="m_dob">
              <span *ngIf="member.get('m_dob')?.invalid">*</span>
              Date Of Birth
            </label>
            <input
              id="m_dob"
              formControlName="m_dob"
              type="date"
              placeholder="DOB"
            />
            <h5 class="err"
              *ngIf="
                member.get('m_dob')?.touched && member.get('m_dob')?.invalid
              "
            >
              DOB is required
            </h5>
          </div>
    
          <button type="button" (click)="removeFamilyMember(i)">
            Remove Member
          </button>
        </div>
        <button type="button" (click)="addFamilyMember()">
          Add Family Member
        </button>
      </div>
    </div>
    
    <!-- Form Submit and Cancel Buttons -->

    <div class="grid-container">
      <button type="submit">Submit</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
