<form [formGroup]="combinedForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="form-sections">
      <div class="grid-container">
        <h3>Company Details</h3>

        <div class="grid-item-rate">
          <label for="code">Company Code</label>
          <input
            id="code"
            type="text"
            formControlName="code"
            placeholder="Company Code"
            [readOnly]="isEditMode"
          />
        </div>

        <div class="grid-item-rate">
          <label for="name">Company Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Name"
          />
        </div>

        <div class="grid-item-rate">
          <label for="address">Address</label>
          <input
            id="address"
            type="text"
            formControlName="address"
            placeholder="Address"
          />
        </div>

        <div class="grid-item-rate">
          <label for="city">City</label>
          <input
            id="city"
            type="text"
            formControlName="city"
            placeholder="City"
          />
        </div>

        <div class="grid-item-rate">
          <label for="state">State</label>
          <input
            id="state"
            type="text"
            formControlName="state"
            placeholder="State"
          />
        </div>

        <div class="grid-item-rate">
          <label for="phone">Phone No</label>
          <input type="tel" formControlName="phone" placeholder="Phone No" />
        </div>

        <div class="grid-item-rate full-width">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>
      </div>

      <div class="grid-container">
        <h3>Managing Director Details</h3>
        <div class="grid-item-rate">
          <label for="md_name">MD Name</label>
          <input
            type="text"
            formControlName="md_name"
            placeholder="Director Name"
          />
        </div>

        <div class="grid-item-rate">
          <label for="md_address">Address</label>
          <input
            id="md_address"
            type="text"
            formControlName="md_address"
            placeholder="Address"
          />
        </div>

        <div class="grid-item-rate">
          <label for="md_mobile">Mobile No</label>
          <input
            type="tel"
            id="md_mobile"
            formControlName="md_mobile"
            placeholder="Phone No"
          />
        </div>

        <div class="grid-item-rate">
          <label for="md_designation">Designation</label>
          <input
            type="text"
            formControlName="md_designation"
            placeholder="Designation"
          />
        </div>

      </div>

      <div class="grid-container">
        <h3>Bank Details</h3>
        <div class="grid-item-rate">
          <label for="bank_name">Bank Name</label>
          <input
            type="text"
            id="bank_address"
            formControlName="bank_name"
            placeholder="Bank Name"
          />
        </div>

        <div class="grid-item-rate">
          <label for="account">Account No</label>
          <input
            type="text"
            id="account"
            formControlName="account"
            placeholder="Account No"
          />
        </div>

        <div class="grid-item-rate">
          <label for="ifsc_code">IFSC Code</label>
          <input
            type="text"
            id="ifsc_code"
            formControlName="ifsc_code"
            placeholder="IFSC Code"
          />
        </div>

        <div class="grid-item-rate">
          <label for="branch_name">Branch name</label>
          <input
            type="text"
            id="branch_name"
            formControlName="branch_name"
            placeholder="Branch Name"
          />
        </div>

        <div class="grid-item-rate">
          <label for="branch_address">Branch address</label>
          <input
            type="text"
            id="branch_address"
            formControlName="branch_address"
            placeholder="Branch Address"
          />
        </div>

      </div>

      <div class="grid-container">
        <h3>Provident Fund Details</h3>
        
        <label for="pf_applicable"> PF Applicable</label>
        <input
          id="pf_applicable"
          type="checkbox"
          formControlName="pf_applicable"
        />
        <div class="grid-item-rate">
          <label for="pf_number">Provident Fund Number</label>
          <input
            type="text"
            formControlName="pf_number"
            id="pf_number"
            [disabled]="!combinedForm.get('pf_applicable')?.value"
            placeholder="Provident Fund Number"
          />
        </div>
        <div class="grid-item-rate">
          <label for="pf_user_id">User Id</label>
          <input
            type="text"
            id="pf_user_id"
            formControlName="pf_user_id"
            [disabled]="!combinedForm.get('pf_applicable')?.value"
            placeholder="User ID"
          />
        </div>
        <div class="grid-item-rate">
          <label for="pf_password">Password</label>
          <input
            type="password"
            id="pf_password"
            formControlName="pf_password"
            [disabled]="!combinedForm.get('pf_applicable')?.value"
            placeholder="Password"
          />
        </div>
        <div class="grid-item-rate">
          <label for="pf_rate">PF Rate </label>
          <input
            type="number"
            step="0.01"
            id="pf_rate"
            formControlName="pf_rate"
            [disabled]="!combinedForm.get('pf_applicable')?.value"
            placeholder="PF Rate"
          />
        </div>
        <div class="grid-item-rate full-width">
          <label for="pf_website">Website</label>
          <input
            type="url"
            id="pf_website"
            formControlName="pf_website"
            [disabled]="!combinedForm.get('pf_applicable')?.value"
            placeholder="PF Website"
          />
        </div>
      </div>

      <div class="grid-container">
        <h3>Employee Security Information Details</h3>
        <div class="grid-item-rate">
          <label for="esi_applicable">ESI Applicable</label>
          <input
            id="esi_applicable"
            type="checkbox"
            formControlName="esi_applicable"
          />
        </div>
        <div class="grid-item-rate">
          <label for="esi_number">ESI No</label>
          <input
            id="esi_number"
            type="text"
            formControlName="esi_number"
            [disabled]="!combinedForm.get('esi_applicable')?.value"
            placeholder="ESI No"
          />
        </div>
        <div class="grid-item-rate">
          <label for="esi_user_id">User ID</label>
          <input
            id="esi_user_id"
            type="text"
            formControlName="esi_user_id"
            [disabled]="!combinedForm.get('esi_applicable')?.value"
            placeholder="User ID"
          />
        </div>
        <div class="grid-item-rate">
          <label for="esi_password">ESI Password</label>
          <input
            id="esi_password"
            type="password"
            formControlName="esi_password"
            [disabled]="!combinedForm.get('esi_applicable')?.value"
            placeholder="ESI Password"
          />
        </div>
        <div class="grid-item-rate">
          <label for="esi_rate">ESI Rate</label>
          <input
            id="esi_rate"
            type="number"
            step="0.01"
            formControlName="esi_rate"
            [disabled]="!combinedForm.get('esi_applicable')?.value"
            placeholder="Employee Rate"
          />
        </div>
        <div class="grid-item-rate">
          <label for="esi_website">ESI Website</label>
          <input
            id="esi_website"
            type="url"
            formControlName="esi_website"
            [disabled]="!combinedForm.get('esi_applicable')?.value"
            placeholder="ESI Website"
          />
        </div>
      </div>

      <div class="grid-container">
        <h3>Labour Welfare Fund Details</h3>

        <label for="lwf_applicable"> LWF Applicable</label>
        <input
          id="lwf_applicable"
          type="checkbox"
          formControlName="lwf_applicable"
        />

        <div class="grid-item-rate">
          <label for="lwf_number">LWF No</label>
          <input
            type="text"
            id="lwf_number"
            formControlName="lwf_number"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="LWF Number"
          />
        </div>
        <div class="grid-item-rate">
          <label for="lwf_user_id">User Id</label>
          <input
            type="text"
            id="lwf_user_id"
            formControlName="lwf_user_id"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="User Id"
          />
        </div>
        <div class="grid-item-rate">
          <label for="lwf_password">Password</label>
          <input
            type="password"
            id="label"
            formControlName="lwf_password"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="Password"
          />
        </div>
        <div class="grid-item-rate">
          <label for="lwf_employee_rate">Employee Rate</label>
          <input
            type="number"
            step="0.01"
            id="lwf_employee_rate"
            formControlName="lwf_employee_rate"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="Employee Rate"
          />
        </div>
        <div class="grid-item-rate">
          <label for="lwf_employer_rate">Employer Rate</label>
          <input
            type="number"
            step="0.01"
            formControlName="lwf_employer_rate"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="Employer Rate"
          />
        </div>
        <div class="grid-item-rate">
          <label for="lwf_website">Website</label>
          <input
            type="url"
            formControlName="lwf_website"
            [disabled]="!combinedForm.get('lwf_applicable')?.value"
            placeholder="LWF Website"
          />
        </div>
      </div>
    </div>

    <button type="submit" >Submit</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
